a {
    text-decoration: none;
    color: var(--color--black);
}
h1 {
    font-size: 1.5em;
}
ul {
    padding: 0;
}
.footnote {
    font-size: 80%;
    margin: 1em 0 1em 3em;
}
.center-me, .view-empty {
    text-align: center;
}
.center-list .item-list {
    text-align: center;
}
.center-list .item-list ul {
    display: inline-block;
    text-align: left;
}
