.view-image-grid h3 {
    text-align: center;
}
.view-image-grid .views-view-responsive-grid__item {
    text-align: center;
}
.player-grid, .simple-grid .view-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 80%;
    margin: 0 auto 2em;
    text-align: center;
}
.view-event-games .view-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: 0 auto 2em;
    text-align: center;
}
.image-with-caption img, .image-with-caption a {
    display: block;
    text-align: center;
    margin: 0 auto;
}
@media(max-width: 1300px) {
    .player-grid, .simple-grid .view-content {
	grid-template-columns: repeat(8, 1fr);
	width: 98%;
    }
    .view-event-games .view-content {
	grid-template-columns: repeat(3, 1fr);
	width: 98%;
    }
}
@media(max-width: 1000px) {
    .player-grid, .simple-grid .view-content {
	grid-template-columns: repeat(6, 1fr);
    }
}
@media(max-width: 650px) {
    .player-grid, .simple-grid .view-content {
	grid-template-columns: repeat(3, 1fr);
    }
    .view-event-games .view-content {
	grid-template-columns: repeat(2, 1fr);
	width: 98%;
    }
}
